@{
    ViewData["Title"] = "Success Page";

    int? LoggedInUser = Context.Session.GetInt32("UserId");
    bool IsLoggedIn = LoggedInUser != null;
}


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Index">Login And Registration</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar">
                <ul class="navbar-nav flex-grow-1">

                    @if(IsLoggedIn)
                    {
                        <li class="nav-item">
                            <form asp-action="LogoutUser" asp-controller="User" method="post">
                                <button class="btn btn-danger">Logout</button>
                            </form>
                        </li>
                    }
                    
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container d-flex justify-content-center mt-5">
    <h1>Success!</h1>
</div>
